<web-app version='2.5' xmlns='http://java.sun.com/xml/ns/javaee'>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/private</url-pattern>
      <url-pattern>/private/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin2</url-pattern>
      <url-pattern>/admin2/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/secure</url-pattern>
      <url-pattern>/secure/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <filter-name>StoreFilter</filter-name>
    <filter-class>com.example.StoreFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StoreFilter</filter-name>
    <url-pattern>/store</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>store</servlet-name>
    <servlet-class>com.example.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>com.example.AdminFilter</filter-name>
    <filter-class>com.example.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>com.example.AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>com.example.AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>com.example.AdminServlet</servlet-name>
    <servlet-class>com.example.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.example.AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.example.AdminServlet</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>rackup</param-name>
    <param-value>rackup</param-value>
  </context-param>
  <filter>
    <filter-name>RackFilter</filter-name>
    <filter-class>org.jruby.rack.RackFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RackFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jruby.rack.RackServletContextListener</listener-class>
  </listener>
</web-app>